.footer {
  background-color: #333;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.container p {
  margin-top: 1rem;
}

.footer .social-links {
  margin-top: 1rem;
}

.footer .social-links a {
  margin: 0 1rem;
  color: #ffcc00;
  text-decoration: none;
}

.footer .social-links a:hover {
  text-decoration: underline;
}
